

#jupiter {
  background: linear-gradient(
    140deg,
    #ffedd5,
    #fdba74,
    #f97316,
    #fdba74,
    #ffedd5
  );
}

#red-dot {
  border-radius: 50%;
}

#saturn {
  background: linear-gradient(
    180deg,
    rgb(75, 81, 86),
    rgb(138, 134, 114),
    rgb(157, 151, 114),
    rgb(200, 178, 116),
    rgba(255, 255, 255, 0.9),
    rgb(200, 178, 116),
    rgb(157, 151, 114),
    rgb(138, 134, 114),
    rgb(75, 81, 86)
  );
}

#mars {
  background: linear-gradient(
    145deg,
    rgba(134, 46, 5) 25%,
    rgb(22, 12, 7) 50.71%,
    rgba(65, 32, 2) 75%,
    rgba(56, 4, 2) 100%
  );
}

#mars-container {
  color: red !important;
}

#uranus {
  background: linear-gradient(
    115deg,
    rgba(230, 232, 238) 25%,
    rgba(70, 112, 250) 50.71%,
    rgba(107, 204, 255) 75%,
    rgba(100, 240, 255) 100%
  );
  box-shadow: 0 1px 6px rgba(241, 236, 236, 0.637), 0 1px 4px rgba(255, 253, 253, 0.74);
  transform: rotateY(180deg);
  transform: rotateZ(90deg);
}

#earth-overlay {

    background: linear-gradient(180deg, rgb(241 245 249), rgba(134, 134, 134, 0), rgba(60, 66, 90, 0), rgba(21, 36, 80, 0), rgba(21, 36, 80, 0), rgba(60, 66, 90, 0), rgba(134, 134, 134, 0), rgb(241 245 249));
}

#venus {
  background: linear-gradient(145deg, white 10%, rgb(199, 166, 77) 20%, rgb(186, 126, 61) 40%, rgb(170, 109, 54) 60%, rgb(69, 41, 27) 80%, black 90%)
}

#mercury {
  background: linear-gradient(-90deg, white 5%, rgb(187, 187, 187) 20%, rgb(107, 107, 107) 60%, rgb(50, 50, 50) 80%, rgb(26, 26, 26) 90%, rgb(20, 19, 20) 5%)
}